@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(image/BG.jpg);
    background-blend-mode: multiply;
	font-family: 'Poppins', sans-serif;
    height: 100vh;
}
/* h3 {
    color: #FFC0CB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 10px;
}
.main-content {
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    border: 1px solid #FDB912;
    height: 300px;
    width: 400px;
}

form input[type="text"]{
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 250px;
}

form select{
	border: 0 !important;  
    width: 100px; /*Width of select dropdown to give space for arrow image
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

form input[type="submit"]{
    height: 50px;
	margin: 15px;
    padding: 5px;
    width: 100%;
}

form input[type="submit"]:hover{
	color: white;
	background: #FFC0CB;
} */